[submodule "harl/envs/lag/JSBSim/data"]
	path = harl/envs/lag/JSBSim/data
	url = https://github.com/JSBSim-Team/jsbsim.git
[submodule "MafiaGPT_RL"]
	path = MafiaGPT_RL
	url = https://github.com/AquaHorseM/MafiaGPT_RL.git
